body {
    margin: 0;
    background-color: #FCECB0;
}

.Logo {
    width: 5%;
    height: 100%;
    display: inline-block;
}

.LogoDiv {
    width: 100%;
    height: 10vh;
    background-color: #F4D370;
}

.MyBlog {
    font-size: 20px;
    color: brown;
    display: block;
    text-align: center;
    margin-top: -4%;
}

.Columns {
    width: 100%;
    display: block;
}

.Main-body {
    width: 60%;
    background-color: #FFDC60;
    display: inline-block;
    text-align: center;
}

.Right-side {
    width: 20%;
    background-color: #FDD05D;
    display: inline-block;
    position: absolute;
}

#footer {
    position: absolute;
    height: 7%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #DAAF2E;
    text-align: center;
    color: black;
}

.Copyright {
    color: black;
    text-align: center;
}

#BackToTopButton {
    position: fixed;
    right: 45px;
    bottom: 45px;
}

.RadioCheck {
    float: left;
}

.menu {
    list-style-type: none;
}

#text {
    text-align: center;
}

.input-validation-error {
    color: red;
}

.field-validation-error {
    color: red;
}
