@model Blog.Domain.Core.Response
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <p>
        Enter your name: @Html.EditorFor(m => m.AuthorName)
        @Html.ValidationMessageFor(m => m.AuthorName)
    </p>
    <p>
        Enter your Response: @Html.EditorFor(m => m.Text)
        @Html.ValidationMessageFor(m => m.Text)
    </p>
    <br /><input type="submit" value="Send" checked="checked" />
}