@using System.Web.Mvc.Html
@model IEnumerable<Blog.Domain.Core.Question>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <p>Введите ваше имя:</p>
    <input class="RadioCheck" type="text" name="PersonName" value="">
    <br><p>Была ли информация полезна?</p>
    <input class="RadioCheck" type="radio" name="name" value="Да." />
    <p>Да.</p>
    <input class="RadioCheck" type="radio" name="name" value="Нет." />
    <p>Нет.</p>
    <p>Воспользуетесь ли Вы данным блогом снова?</p>
    <input class="RadioCheck" type="checkbox" name="check" value="Да, воспользуюсь." />
    <p>Да, воспользуюсь.</p>
    <input class="RadioCheck" type="checkbox" name="check" value="Нет, не воспользуюсь." />
    <p>Нет, не воспользуюсь.</p>
    <input class="RadioCheck" type="checkbox" name="check" value="Воспользуюсь в случае добавления новой информации." />
    <p>Воспользуюсь в случае добавления новой информации.</p>
    <input type="submit" value="Submit" checked="checked" />
}