@model IEnumerable<Blog.Domain.Core.Response>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <table>
        <tr>
            <td>
                <p>Enter yor name</p>
            </td>
            <td><input type="text" name="Person" /></td>
        </tr>
        <tr>
            <td>
                <p>Enter yor Response</p>
            </td>
            <td><input type="text" name="Response" /></td>
        </tr>
        <tr><td><input type="submit" value="Send" /></td><td></td></tr>
    </table>
</body>
</html>